.plaintext {
	white-space: pre-wrap;
}

#msg-headers {
	display: table;
	padding-left: 5px;
	padding-bottom: 5px;
}
#msg-headers > div {
	display: table-row;
}
.hdr-name, .hdr-val {
	display: table-cell;
}
.hdr-name {
	text-align: right;
	padding-right: 4px;
	font-weight: 500;
}
.msg-body {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid gray;
	word-wrap: break-word;
}
.msg-attachments h4 {
	font-weight: 500;
}
.msg-attachment-detached {
	text-decoration: line-through;
	color: #6f6f6f;
}

/* This is the root quote depth (no quoting), i.e. it's leftmost */
.plaintext-ff {
	padding-left: 12px;
	white-space: pre-wrap;
}
.plaintext-ff-sub {
	margin-top: 10px;
	margin-bottom: 7px;
	padding-left: 12px;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: gray;
	width: inherit;
}
/* Same colors as Mozilla clients.
 * These will override the default border-left-color for plaintext-ff-sub, up through 9 levels of nested quoting */
.plaintext-quote-depth-1 {
	border-left-color: #729FCF;
}
.plaintext-quote-depth-2 {
	border-left-color: #AD7FA8;
}
.plaintext-quote-depth-3 {
	border-left-color: #8AE234;
}
.plaintext-quote-depth-4 {
	border-left-color: #FCAF3E;
}
.plaintext-quote-depth-5, .plaintext-quote-depth-6, .plaintext-quote-depth-7, .plaintext-quote-depth-8, .plaintext-quote-depth-9 {
	border-left-color: #E9B96E;
}

#html-body iframe {
	width: 100%;
	border: 0;
	height: calc(100% - 200px); /* Ideally, this would be "remainder of page", 100% - the headers, but there's no good way to do that? */
}